In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('/content/drive/MyDrive/NYPD_Complaint_Data_Current__Year_To_Date_.csv')

In [4]:
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 96734 rows and 36 columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96734 entries, 0 to 96733
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CMPLNT_NUM                96734 non-null  int64
 1   ADDR_PCT_CD               96734 non-null  int64
 2   BORO_NM                   96632 non-null  object
 3   CMPLNT_FR_DT              96734 non-null  object
 4   CMPLNT_FR_TM              96734 non-null  object
 5   CMPLNT_TO_DT              88039 non-null  object
 6   CMPLNT_TO_TM              88067 non-null  object
 7   CRM_ATPT_CPTD_CD          96682 non-null  object
 8   HADEVELOPT                395 non-null    object
 9   HOUSING_PSA               7868 non-null   float64
 10  JURISDICTION_CODE         96646 non-null  float64
 11  JURIS_DESC                96734 non-null  object
 12  KY_CD                     96734 non-null  int64
 13  LAW_CAT_CD                96734 non-null  object
 14  LOC_OF_OCCUR_DESC         81791 non-null  object
 15  OFNS_DESC                 96731 non-null  object
 16  PARKS_NM                  352 non-null    object
 17  PATROL_BORO               96646 non-null  object
 18  PD_CD                     96646 non-null  float64
 19  PD_DESC                   96646 non-null  object
 20  PREM_TYP_DESC             96462 non-null  object
 21  RPT_DT                    96734 non-null  object
 22  STATION_NAME              1939 non-null   object
 23  SUSP_AGE_GROUP            76359 non-null  object
 24  SUSP_RACE                 76359 non-null  object
 25  SUSP_SEX                  76359 non-null  object
 26  TRANSIT_DISTRICT          1939 non-null   float64
 27  VIC_AGE_GROUP             96734 non-null  object
 28  VIC_RACE                  96731 non-null  object
 29  VIC_SEX                   96734 non-null  object
 30  X_COORD_CD                96734 non-null  int64
 31  Y_COORD_CD                96734 non-null  int64
 32  Latitude                  96734 non-null  float64
 33  Longitude                 96734 non-null  float64
 34  Lat_Lon                   96734 non-null  object
 35  New Georeferenced Column  96734 non-null  object
dtypes: float64(6), int64(5), object(25)
memory usage: 26.6+ MB

In [6]:
df.count()

CMPLNT_NUM                  96734
ADDR_PCT_CD                 96734
BORO_NM                     96632
CMPLNT_FR_DT                96734
CMPLNT_FR_TM                96734
CMPLNT_TO_DT                88039
CMPLNT_TO_TM                88067
CRM_ATPT_CPTD_CD            96682
HADEVELOPT                    395
HOUSING_PSA                  7868
JURISDICTION_CODE           96646
JURIS_DESC                  96734
KY_CD                       96734
LAW_CAT_CD                  96734
LOC_OF_OCCUR_DESC           81791
OFNS_DESC                   96731
PARKS_NM                      352
PATROL_BORO                 96646
PD_CD                       96646
PD_DESC                     96646
PREM_TYP_DESC               96462
RPT_DT                      96734
STATION_NAME                 1939
SUSP_AGE_GROUP              76359
SUSP_RACE                   76359
SUSP_SEX                    76359
TRANSIT_DISTRICT             1939
VIC_AGE_GROUP               96734
VIC_RACE                    96731
VIC_SEX                     96734
X_COORD_CD                  96734
Y_COORD_CD                  96734
Latitude                    96734
Longitude                   96734
Lat_Lon                     96734
New Georeferenced Column    96734
dtype: int64

In [7]:
columns_remove = ['TRANSIT_DISTRICT','STATION_NAME','RPT_DT','PARKS_NM','HADEVELOPT','HADEVELOPT','CRM_ATPT_CPTD_CD','ADDR_PCT_CD','CMPLNT_NUM','CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'HADEVELOPT', 'HOUSING_PSA', 'LOC_OF_OCCUR_DESC', 'PARKS_NM', 'RPT_DT', 'STATION_NAME', 'TRANSIT_DISTRICT', 'X_COORD_CD','Y_COORD_CD', 'Lat_Lon']
df = df.drop(columns_remove, axis=1)

In [8]:
print(df)

         BORO_NM  ...                       New Georeferenced Column
0       BROOKLYN  ...   POINT (-73.98633121699999 40.69105856700002)
1            NaN  ...   POINT (-73.98713051799997 40.71608268700004)
2            NaN  ...   POINT (-73.87513706799997 40.66818803900002)
3      MANHATTAN  ...   POINT (-73.98928217599996 40.75043076800005)
4         QUEENS  ...   POINT (-73.86537333399998 40.74960053300003)
...          ...  ...                                            ...
96729   BROOKLYN  ...  POINT (-73.97889574699997 40.668146816000046)
96730      BRONX  ...        POINT (-73.859568127 40.89251396600008)
96731      BRONX  ...   POINT (-73.90846796099999 40.81944420600007)
96732  MANHATTAN  ...   POINT (-73.99133946299997 40.75002197300005)
96733   BROOKLYN  ...   POINT (-73.95291287199996 40.71407010200004)

[96734 rows x 21 columns]

In [9]:
df.dropna(subset=['CMPLNT_FR_DT'], inplace=True)
df.dropna(subset=['CMPLNT_FR_TM'], inplace=True)

In [10]:
df.replace('UNKNOWN', np.NaN, inplace=True)
df.replace('E', np.NaN, inplace=True)
df.replace('C', np.NaN, inplace=True)

df.replace('D', np.NaN, inplace=True)
df.replace('U', np.NaN, inplace=True)

In [11]:
print('Number of rows before removing rows with missing values: ' + str(df.shape[0]))
df.dropna(axis=0, inplace=True)
print('Number of rows after removing rows with missing values: ' + str(df.shape[0]))

Number of rows before removing rows with missing values: 96734
Number of rows after removing rows with missing values: 28270

In [12]:
df['CMPLNT_FR_YEAR'] = df['CMPLNT_FR_DT'].map(lambda x: int(str(x).split('/')[2]))
df['CMPLNT_FR_MONTH'] = df['CMPLNT_FR_DT'].map(lambda x: int(x.split('/')[0]))
df['CMPLNT_FR_DAY'] = df['CMPLNT_FR_DT'].map(lambda x: int(x.split('/')[1]))

In [13]:
pd.unique(df.CMPLNT_FR_YEAR)

array([2021, 2020, 2019, 2009, 2016, 2018, 2014, 2008, 2012, 2017, 2004,
       2011, 2005, 2007, 1981, 2010, 2015, 1997, 1971, 2013, 2001, 2003,
       2000, 1988, 2002, 1993, 1991, 1999, 2006, 1972])

In [14]:
df = df[df['CMPLNT_FR_YEAR'] > 2005]

In [15]:
pd.unique(df.CMPLNT_FR_YEAR)

array([2021, 2020, 2019, 2009, 2016, 2018, 2014, 2008, 2012, 2017, 2011,
       2007, 2010, 2015, 2013, 2006])

In [16]:
df

         BORO_NM CMPLNT_FR_DT  ... CMPLNT_FR_MONTH  CMPLNT_FR_DAY
8          BRONX   03/22/2021  ...               3             22
25        QUEENS   02/28/2021  ...               2             28
35         BRONX   02/16/2021  ...               2             16
38     MANHATTAN   02/20/2021  ...               2             20
42         BRONX   02/12/2021  ...               2             12
...          ...          ...  ...             ...            ...
96715     QUEENS   01/01/2021  ...               1              1
96724     QUEENS   01/04/2021  ...               1              4
96728   BROOKLYN   01/05/2021  ...               1              5
96729   BROOKLYN   01/03/2021  ...               1              3
96732  MANHATTAN   01/04/2021  ...               1              4

[28243 rows x 24 columns]

In [18]:
pd.unique(df.LAW_CAT_CD)

array(['FELONY', 'MISDEMEANOR', 'VIOLATION'], dtype=object)

In [19]:
df['BORO_NM']

8            BRONX
25          QUEENS
35           BRONX
38       MANHATTAN
42           BRONX
           ...
96715       QUEENS
96724       QUEENS
96728     BROOKLYN
96729     BROOKLYN
96732    MANHATTAN
Name: BORO_NM, Length: 28243, dtype: object

In [20]:
unique, counts = np.unique(df['VIC_RACE'], return_counts=True)
dict(zip(unique, counts))

{'AMERICAN INDIAN/ALASKAN NATIVE': 107,
 'ASIAN / PACIFIC ISLANDER': 2489,
 'BLACK': 11674,
 'BLACK HISPANIC': 1691,
 'WHITE': 4634,
 'WHITE HISPANIC': 7648}