In [1]:
import numpy as np
import pandas as pd

In [2]:
file_path = "/content/Cleaned_NYPD_Complaint_Data_Current__Year_To_Date_.csv"
df = pd.read_csv(file_path, index_col=0)

In [3]:
df.drop(["CMPLNT_NUM"], axis=1, inplace=True) # CMPLNT_NUM is just an identifier.

In [4]:
df

       ADDR_PCT_CD  ...                       New Georeferenced Column
0               84  ...   POINT (-73.98633121699999 40.69105856700002)
2               75  ...   POINT (-73.87513706799997 40.66818803900002)
3               14  ...   POINT (-73.98928217599996 40.75043076800005)
4              110  ...   POINT (-73.86537333399998 40.74960053300003)
5              115  ...       POINT (-73.870405222 40.762204702000076)
...            ...  ...                                            ...
96729           78  ...  POINT (-73.97889574699997 40.668146816000046)
96730           47  ...        POINT (-73.859568127 40.89251396600008)
96731           40  ...   POINT (-73.90846796099999 40.81944420600007)
96732           14  ...   POINT (-73.99133946299997 40.75002197300005)
96733           94  ...   POINT (-73.95291287199996 40.71407010200004)

[96682 rows x 28 columns]

In [5]:
# date_cols = ["CMPLNT_FR_DT", "CMPLNT_TO_DT", "RPT_DT"]
# pd.to_datetime(df[date_cols].stack(), format="%m-%d-%Y").unstack()

In [6]:
# Preparing data

# Combine date and time columns
orig_date_fr_cols = ["CMPLNT_FR_DT", "CMPLNT_FR_TM"]
df["CMPLNT_FR_DTM"] = df[orig_date_fr_cols].apply(lambda x: " ".join(x), axis=1)
df.drop(orig_date_fr_cols, axis=1, inplace=True)

"""
# def related_to_cols_TO(df, cols):
#   for col in cols:
#     if col == np.nan:
#       continue
#     else:
#       cols_ = " ".join(cols)
#   return 

# orig_date_to_cols = ["CMPLNT_TO_DT", "CMPLNT_TO_TM"]
# df["CMPLNT_TO_DTM"] = df[orig_date_to_cols].apply(related_to_cols_TO)
# df.drop(orig_date_to_cols, axis=1, inplace=False)

"""
# TODO: Problem with TO_ cols since they have NaN values
# orig_date_to_cols = ["CMPLNT_TO_DT", "CMPLNT_TO_TM"]
# df["CMPLNT_FR_DTM"] = df[orig_date_to_cols].apply(lambda x: " ".join(x), axis=1)
# df.drop(orig_date_to_cols, axis=1, inplace=True)

'\n# def related_to_cols_TO(df, cols):\n#   for col in cols:\n#     if col == np.nan:\n#       continue\n#     else:\n#       cols_ = " ".join(cols)\n#   return \n\n# orig_date_to_cols = ["CMPLNT_TO_DT", "CMPLNT_TO_TM"]\n# df["CMPLNT_TO_DTM"] = df[orig_date_to_cols].apply(related_to_cols_TO)\n# df.drop(orig_date_to_cols, axis=1, inplace=False)\n\n'

In [7]:
# categorical_features = ["BORO_NM", "CRM_ATPT_CPTD_CD"]
categorical_features = ["BORO_NM", "CRM_ATPT_CPTD_CD", "JURIS_DESC", "LOC_OF_OCCUR_DESC", 
                "OFNS_DESC", "PATROL_BORO", "PD_DESC", "PREM_TYP_DESC", "SUSP_RACE", "SUSP_SEX", 
                "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX"
              ]
categorical_targets = ["LAW_CAT_CD"]

df = pd.get_dummies(df, columns=categorical_features)

In [8]:
# One hot encoding the target variable
from sklearn.preprocessing import LabelEncoder
y = df["LAW_CAT_CD"]
le = LabelEncoder()
series = le.fit_transform(y)

df["Target"] = series
df.drop("LAW_CAT_CD", axis=1, inplace=True)

In [9]:
# Removing spurious age groups.
bad_susp_age_grps = pd.Series([np.nan, "UNKNOWN", "-947", "2021", "-973", "1017", "-966"])
df = df[~df["SUSP_AGE_GROUP"].isin(bad_susp_age_grps)]

In [10]:
df # `Target` is the one-hot encoded version of LAW_CT_CD

       ADDR_PCT_CD CMPLNT_TO_DT CMPLNT_TO_TM  ...  VIC_SEX_M  VIC_SEX_U  Target
0               84   03/31/2021     15:12:00  ...          0          0       2
2               75          NaN          NaN  ...          1          0       0
8               43          NaN          NaN  ...          0          0       0
12              47          NaN          NaN  ...          0          0       0
13             103          NaN          NaN  ...          1          0       0
...            ...          ...          ...  ...        ...        ...     ...
96724          101   01/04/2021     17:25:00  ...          1          0       0
96728           63   01/05/2021     07:25:00  ...          0          0       1
96729           78   01/03/2021     19:33:00  ...          1          0       1
96730           47   01/02/2021     15:25:00  ...          0          0       1
96732           14   01/04/2021     14:05:00  ...          1          0       1

[43455 rows x 500 columns]

In [11]:
df["SUSP_AGE_GROUP"].unique()

array(['25-44', '45-64', '18-24', '65+', '<18'], dtype=object)

In [12]:
df = pd.get_dummies(df, columns=["SUSP_AGE_GROUP"])

In [13]:
df

       ADDR_PCT_CD CMPLNT_TO_DT  ... SUSP_AGE_GROUP_65+  SUSP_AGE_GROUP_<18
0               84   03/31/2021  ...                  0                   0
2               75          NaN  ...                  0                   0
8               43          NaN  ...                  0                   0
12              47          NaN  ...                  0                   0
13             103          NaN  ...                  0                   0
...            ...          ...  ...                ...                 ...
96724          101   01/04/2021  ...                  0                   0
96728           63   01/05/2021  ...                  0                   0
96729           78   01/03/2021  ...                  0                   1
96730           47   01/02/2021  ...                  0                   0
96732           14   01/04/2021  ...                  0                   0

[43455 rows x 504 columns]

In [14]:
date_cols = ["CMPLNT_TO_DT", "CMPLNT_TO_TM", "RPT_DT", "CMPLNT_FR_DTM"]
new_df = df.drop(date_cols, axis=1)

# Temporary
additional_drop_cols = ["Lat_Lon", "New Georeferenced Column"]
new_df.drop(additional_drop_cols, axis=1, inplace=True)

# Remove this drop
check_drop_cols = ["JURISDICTION_CODE", "PD_CD"]
new_df.drop(check_drop_cols, axis=1, inplace=True)

In [15]:
new_df

       ADDR_PCT_CD  KY_CD  ...  SUSP_AGE_GROUP_65+  SUSP_AGE_GROUP_<18
0               84    675  ...                   0                   0
2               75    101  ...                   0                   0
8               43    107  ...                   0                   0
12              47    113  ...                   0                   0
13             103    101  ...                   0                   0
...            ...    ...  ...                 ...                 ...
96724          101    107  ...                   0                   0
96728           63    344  ...                   0                   0
96729           78    344  ...                   0                   1
96730           47    344  ...                   0                   0
96732           14    344  ...                   0                   0

[43455 rows x 496 columns]

In [16]:
# def cat_targets_to_one_hot(df, cat_targets):
#   for cat_target in cat_targets:
#     unique_values = df[cat_target].unique()
#     for unique_value in unique_value:
#       df[str(cat_target)+str(unique_value)] =

In [17]:
# categorical = ["BORO_NM", "CRM_ATPT_CPTD_CD", "JURIS_DESC", "LAW_CAT_CD", "LOC_OF_OCCUR_DESC", "OFNS_DESC", "PATROL_BORO", "PD_DESC", "PREM_TYP_DESC", "SUSP_RACE", "SUSP_SEX", "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX"]
# final_data = pd.get_dummies(df, columns=categorical)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
# Needed for classifiers like the XGBoost
new_df = new_df.rename(columns={"SUSP_AGE_GROUP_<18": "SUSP_AGE_GROUP_less_than_18"})

In [20]:
X = new_df.drop("Target", axis=1)
y = new_df["Target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [39]:
X

       ADDR_PCT_CD  KY_CD  ...  SUSP_AGE_GROUP_65+  SUSP_AGE_GROUP_less_than_18
0               84    675  ...                   0                            0
2               75    101  ...                   0                            0
8               43    107  ...                   0                            0
12              47    113  ...                   0                            0
13             103    101  ...                   0                            0
...            ...    ...  ...                 ...                          ...
96724          101    107  ...                   0                            0
96728           63    344  ...                   0                            0
96729           78    344  ...                   0                            1
96730           47    344  ...                   0                            0
96732           14    344  ...                   0                            0

[43455 rows x 495 columns]

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.cluster import KMeans
from sklearn.svm import SVC

In [22]:
dtree = DecisionTreeClassifier()
kmeans = KMeans(n_clusters=3)
svc = SVC()

In [23]:
kmeans.fit(X_train, y_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [24]:
predictions = kmeans.predict(X_test)

In [25]:
print(f"Accuracy: {np.sum(predictions == y_test) / len(y_test)}")

Accuracy: 0.22382449950141903

In [26]:
avg_acc = 0
iters = 50
for _ in range(iters):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
  kmeans = KMeans(n_clusters=3)
  kmeans.fit(X_train, y_train)
  predictions = kmeans.predict(X_test)
  acc = np.sum(predictions == y_test) / len(y_test)
  print(f"Accuracy: {acc}")
  avg_acc += acc
print(f"Average Accuracy: {avg_acc/iters}")

Accuracy: 1.0
Accuracy: 0.290711053156401
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 0.0
Accuracy: 0.22382449950141903
Accuracy: 1.0
Accuracy: 0.48546444734217997
Accuracy: 0.0
Accuracy: 0.22382449950141903
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 0.0
Accuracy: 0.0
Accuracy: 0.22382449950141903
Accuracy: 0.48546444734217997
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 0.0
Accuracy: 0.22382449950141903
Accuracy: 0.0
Accuracy: 0.290711053156401
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 0.0
Accuracy: 0.22382449950141903
Accuracy: 1.0
Accuracy: 0.22382449950141903
Accuracy: 1.0
Accuracy: 0.290711053156401
Accuracy: 1.0
Accuracy: 0.22382449950141903
Accuracy: 0.48546444734217997
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Accuracy: 0.22382449950141903
Average Accuracy: 0.47610032983048234

In [27]:
from sklearn.ensemble import GradientBoostingClassifier

In [28]:
gbc = GradientBoostingClassifier(max_depth=10, learning_rate=0.01)

In [29]:
gbc.fit(X_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.01, loss='deviance', max_depth=10,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [30]:
gbc_preds = gbc.predict(X_test)

In [31]:
print(f"GBC Accuracy: {np.sum(gbc_preds == y_test) / len(y_test)}")

GBC Accuracy: 1.0

In [32]:
import xgboost as xgb

In [33]:
xgb_classifier = xgb.XGBClassifier(n_estimators=3)

In [ ]:
# xgb_classifier.fit(X_train, y_train) DOESNT WORK NOW..